header {
    background-color: var(--primary-color);
}


.menu a {
    padding: 0.2rem 0.5rem;
    border-radius: 0.375rem;
    transition: background-color 0.2s ease;
}

.menu a:hover {
    background-color: rgba(3, 85, 0, 0.836);
    text-decoration: none;
    color: #ffffff;
}

.has-submenu button {
    transition: background-color 0.3s ease, border 0.3s ease;
}

.has-submenu button:hover {
    background-color: rgba(3, 85, 0, 0.836);
    border-radius: 0.375rem;
    border: 2px solid rgba(3, 85, 0, 0.836);
}

.submenu li a {
    padding: 5px;
    display: block;
}

.submenu {
    transition: max-height 0.3s ease;
    overflow: hidden;
}



.has-submenu:hover .submenu {
    display: block;
}

.chevron {
    transition: transform 0.3s ease;
}

.has-submenu:hover .chevron {
    transform: rotate(180deg);
}


.menu-mobile {
    transition: max-height 0.3s ease;
    overflow: hidden;
}
.submenu.show {
    transition: all 0.3s ease;
}

